*
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    
}
.Eve {
    margin-top: 35%;
    justify-content: center;
    display: flex;
    align-items: center;

}
.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.rocket {
    width: 200px;
    position: absolute;
    right: 5%;
    bottom: 0;
    animation: 4s rocket linear infinite;

}
@keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}
.skill {
    /* position: center; */
    width: 160px;
    height: 160px;
    /* background: black; */
    position: relative;
}
.outer{
    position: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(17, 16, 16); */
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(156, 124, 160, 0.15),
                -6px -6px 10px -1px rgba(120, 84, 159, 0.7)
}
.inner{
    position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(156, 113, 162, 0.2),
                inset -4px -4px 6px -1px rgba(139, 55, 150, 0.15),
                -0.5px -0.5px 0 rgb(132, 123, 123, 1),
                0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
                0px 10px 12px -10px rgba(0, 0, 0, 0.05);

}
#number{
    font-weight: 600px;
    color: aliceblue;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 0;
}
svg{
    position: absolute;
   
}